.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

p.cartoon{
  font-family:" Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
}


img {
    display: block;
    margin: 0 auto;
}
